@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.container{
  margin-top: 10%;
  margin-left: 70%;
  margin-right: 0;
}

.row{
 padding: 10px; 
}

.btn-cliente{
  height: 63px;
  width: 204px;

}

.btn-cliente:hover{
  background-color: #be1522;
}

.pricing-header {
  margin-top: 5%;
  max-width: 700px;
}

.div-cliente{
  justify-content: center;
}

h1,h2{
  color: #be1522;
}

.caixa-cliente{
  margin-bottom: 650px;
  margin-top: 450px;
}



@media only screen and (max-width: 1440px) and (min-width:1060px){
  .botao-cliente{
    margin-left: 125px;
  }
}
