@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  /* font-family: 'Montserrat', sans-serif; */
}

.container {
  max-width: 960px;
}

.titulo-h2{
  padding-top: 20px;
}

.btn-msg{
  padding: 5px;
  width: 250px;
  
}

.area-form{
  /* margin-top: 50px; */
  display: flex;
  flex-direction: row;
}

#text-area-contato{
  width: 650px;
}

@media only screen and (max-width: 2400px){
  #kit-form{
    margin-top: 110px
  }
  }

@media only screen and (max-width: 2400px){
.btn-msg{
  margin: 10px;
}
}

@media only screen and (max-width: 1024px) and (min-width:770px){
.img-contato{
  max-width: 100%;
  height: auto;
}

.form-label{
  font-size: 13px;
}

.form-select{
  font-size: 11px;
}

}
@media only screen and (max-width: 425px){
#text-area-contato{
  width: 100%;
}
}