.container {
  /* max-width: 960px; */
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.telemetria-espaco{
  display: flex;
  justify-content: center;
  
}

#video-telemetria{
  height: 600px;
}

@media only screen and (max-width: 1440px) and (min-width:1110px) {
.telemetria-img{
    max-width:380px;
    max-height:240px;
    width: auto;
    height: auto;
}
}

@media only screen and (max-width: 1024px) and (min-width:770px){
  .telemetria-img{
    max-width:270px;
    max-height:290px;
    width: auto;
    height: auto;
}
}

@media only screen and (max-width: 500px){
  .telemetria-espaco{
  flex-direction:column;
  }
  #video-telemetria{
    height: 30vh;
  }
}

@media only screen and (max-width: 1326px) and (min-width:1326px){
  #video-telemetria{
    height: 320px;
  }

  .telemetria-img {
    max-width: 340px;
    max-height: 240px;
    width: auto;
    height: auto;
}
}

@media only screen and (max-width: 1280px) and (min-width:1280px){
  #video-telemetria{
    height: 340px;
  }

  .telemetria-img {
    max-width: 340px;
    max-height: 240px;
    width: auto;
    height: auto;
}
}
